<% content_for :scripts do %>
      <script type="text/javascript" src="../../javascripts/renderengine/libs/base.js"></script> 
      <script type="text/javascript" src="../../javascripts/renderengine/libs/jquery.js"></script> 
      <script type="text/javascript" src="../../javascripts/renderengine/libs/jquery.ext.engine.js"></script> 
      <script type="text/javascript" src="../../javascripts/renderengine/libs/sylvester.js"></script> 
      <script type="text/javascript" src="../../javascripts/renderengine/engine/runtime/engine.js"></script> 
      <script type="text/javascript" src="../../javascripts/renderengine/lastplantgame/buildergame/createXHR.js"></script> 
    
<% end %>

<script type="application/javascript"> 
            function Write(url, content){
                var xhr = createXHR();
                xhr.onreadystatechange=function() {
                    if(xhr.readyState == 4) {		
                        // nothing for now
                        // alert("sent " + url + " " + content);
                    }
                };
                
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "text/plain");
                xhr.send(content);
            }

            function saveData(){ 
                //console.log(Lastplant);
                //var content = document.ajax.sentence.value; //das ist das was geschickt wird
                var content = document.getElementById("storage").innerHTML;
                if(content!="NULL"){
                    //console.log(content);
                    Write("/maps/create", "map=" + content);
                    var storing = document.getElementById("storage");
                    
                    //document.ajax.dyn.value="Saved:" + content;	
                    //storing.innerHTML = "<p>XML File wurde gespeichert! <b><a href='ajax-post-text.txt' target='_parent'>Look at the file</a></b>. ";
                    var target = "/protect";
                    //window.location.href = target;
                }
            }
 
 
        </script> 

        <p>asdasd</p> 
        <script type="text/javascript"> 
            $(document).ready(function() {
                // Load the game script
                Engine.loadGame('/../../javascripts/renderengine/lastplantgame/buildergame/game.js','LastPlant','LastPlant Game');
            });
        </script>
	        <div id="buttons"> 
            <form name="ajax" method="POST" id="protectform" action=""> 
          
<!-- FIX ME: INPUT FIELD FOR MAP NAME
               <input type="text" name="Mapname" value="Please enter map name">  -->
        
            
                <INPUT type="button" id="savemap" value="Save Construct"  ONCLICK="saveData()"> 
               
            </form> 
            <div id="storage">NULL</div> 
        </div> 
		<strong>Whole URL: </strong><%= request.fullpath %>
