<h1>Your Constructs</h1>
<%= link_to "", new_map_path, :id => 'new_map_btn' %>


<div id="protect_block">
  <p>
    <% if @maps != [] %>
      <% @maps.each do |map| %>
      <div class="map">
        <img src="images/map_dummy.jpg">
        <%= map.name %><br />
                            Score: <%= map.score %> <br />
        <%= link_to "delete", map, :method => :delete, :confirm => "Are you sure to delete #{map.name}?", :title => "Delete #{map.name}"%>
      </div>
    <% end %>
  <% else %>
                  You haven't build a map yet.
  <% end %>
</p>
</div>
