@font-face {
	font-family: 'BebasNeueRegular';
	src: url('BebasNeue-webfont.eot');
	src: local(''), url('BebasNeue-webfont.woff') format('woff'), url('BebasNeue-webfont.ttf') format('truetype'), url('BebasNeue-webfont.svg#webfontkl9Cw39n') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansRegular';
	src: url('DroidSans-webfont.eot');
	src: local(''), url('DroidSans-webfont.woff') format('woff'), url('DroidSans-webfont.ttf') format('truetype'), url('DroidSans-webfont.svg#webfontUQHwT7La') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('DroidSans-Bold-webfont.eot');
	src: local(''), url('DroidSans-Bold-webfont.woff') format('woff'), url('DroidSans-Bold-webfont.ttf') format('truetype'), url('DroidSans-Bold-webfont.svg#webfontLfmbhKy2') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
    color: #f1f1f1;
    text-transform: none;
	
}
    
a, .highlight {
    color: rgb(152, 191,75);
    text-decoration: none;
}    

a:hover {
    color: rgb(144,141,137)
}
    
p.signup {
    width: 220px;
    margin: 10px 0 10px 60px;
}

.left {
    text-align: left;
}

#protect_block {
    margin-left: 30px;
}

#protect_block .map {
    margin: 10px 50px 10px 50px;
    float: left;
    padding: 10px;
    width: 150px;
    margin-left: 50px;
    border: solid rgb(152, 191,75) 3px;
    text-align: center;
}


.pagination {
    margin-top: 5px;
    font-family: Arial;
}


.destroy_block {
	
    padding: 10px;
    width: 280px;
    border: solid rgb(152, 191,75) 3px;
    text-align: center;
}

#randommaps, #mymaps, #latestmaps {
    float: left;
    margin: 20px 30px 20px 35px;
    min-height: 110px;
    min-width: 355px;
}

/*
#randommaps{
 	margin: 50px 40px 10px 30px;
}

#mymaps {
    left: 490px;
    position: relative;
    top: -82px;
}
*/

h1, h2{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
	width: 900px;
}

ul#navi li{     
	list-style-type: none;
    /*border: 1px solid red;*/
	overflow:hidden;
    margin: 0; 
	padding: 0;
	float: left;
	width:6em;
	margin-right: 4px;
	text-align:center;
}	
/*
ul#navi li.left{
	text-align:left;
}
	*/
ul#navi{ list-style:none;
    text-align: left;
	width: 900px;
	overflow:hidden;
	margin-bottom:5px;
	margin-top:10px;
}	
ul#navi a {
	   
	color: rgb(144, 141, 137);
	text-align:left;
	font-family:'BebasNeueRegular', Geneva, sans-serif;
	letter-spacing:1.3;
	text-transform:uppercase;
	text-decoration:none;
	}
ul#navi a:link{ color:rgb(144,141,137);}

ul#navi a:visited{
	color: rgb(144,141,137)}

ul#navi a:hover{
	color:rgb(210,210,210)}
	
ul#navi a:active{
	color:rgb(210,210,210)}	
	
	
ul#navi li.rechts{
	text-align:right;
	width:5em;}	
	
ul#navi li.abstand{
	padding-left: 250px;}	
	
ul#navi li.slash{
		color:rgb(144, 141, 137);
	text-align:left;
	font-family:'BebasNeueRegular', Geneva, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	padding: 0;
	margin: 0;
	width: 10px;
	}
	
	
.content	{
	width: 900px;
	font-family:'BebasNeueRegular', Geneva, sans-serif;
	height:500px;
	margin: 0 auto;
	border: solid rgb(152, 191,75) 3px;
}

.overview_box {
    width: 450px;
    float: left;
    text-align: center;
}

.center_me {
    text-align: center;
}
    
h3{color:rgb(152, 191,75);
padding-top: 20px;
text-align: center}	
	
 ul#navi div {
     clear: both;
  }	
 
 ul{
	 list-style:none;}
	 
#footer{
	width:900px;
}
	 
#footer p {
    width: 120px;
	text-align:center;
	font-family:'DroidSansRegular', Geneva, sans-serif;
	font-size: 9px;
	color: rgb(152, 191,75);
    margin: 10px auto;
}	
	
#footer p a{
	color: rgb(152, 191,75);
	font-family:'DroidSansRegular', Geneva, sans-serif;
	text-decoration: none;
	padding: 5px;
	}	

body{
	width: 800px;
	margin: auto;
	background-color: rgb(36,30,30);

		}	 
div#machine{
	position:relative;
	left:-350px;
	top: -250px;
	
	}	
	
	
.login img{
	
	display:block;
	width:432px;
	margin:auto;
	margin-top: 50px;
}
	
form.loginform{
	top: -558px;
}
	
form {
	position:relative;
	left: 250px;
	width: 300px;
	border: solid rgb(152, 191,75) 1px;
}

#protectform {
    border: none;
    width: 200px;
}
	
h4{font-family:'BebasNeueRegular', Geneva, sans-serif;

text-align:center;
background-color: rgb(36,30,30);
color: white;
font-size:25px;
padding:10px
	}	
h3.registrieren{
	font-family:'BebasNeueRegular', Geneva, sans-serif;
	font-size:27px;
	position:relative;
	top: -560px;
	left: 250px;
	width:300px;
	border: rgb(152, 191,75) solid 1px;
	text-align:center;
	padding-bottom:13px;
}	
	
form .field {
    width: 300px;
    background-color: rgb(95,94,80);
}

form .field input {
    width: 150px;
    float: right;
}

form .field label {
	font-family:'BebasNeueRegular', Geneva, sans-serif;
	font-size:15px;
	display:inline;
    text-align: right;
    width: 120px;
    margin-left: 50px;
    margin-bottom: 5px;
    color: #000;
    text-align: right;
}	

form label input {
	margin-left: 20px;
	}
	
.field {
	width: 294px;
	padding-bottom: 10px;
}

canvas {
	position: relative;
	top: -500px;
	left: 50px;
	background-color: #241E1E;
}

.loadbox {

}

#protectform {
    position: relative;
    top: 450px;
    padding-left: 130px;
}

table {
	padding: 10px;
}

.edit_user {
	left: 300px;
	margin-top: 25px;
}

.allusers{
	padding-left: 50px;
	padding-bottom: 5px;
}

#user_submit, #session_submit {
	margin-left: 115px;
}

#session_submit {
	margin-top: 5px;
}


.gravatar_div {
	margin-left: 375px;
	margin-top: 15px;
}

#storage, #score, #map_score, #map_id , #map_img , #mapname {
	display: none;
}

ul#navi a.highlight_link {
	font-weight: bold;
	color: #98BF4B;
}

#about {
    border: 3px solid #98BF4B;
    margin: 20px 50px;
    padding: 10px;
    text-align: center;
    width: 780px;
}

#descr {
    border: 2px solid #98BF4B;
    left: 242px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -571px;
    width: 296px;
}


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

#error_explanation {
  width: 282px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 10px;
  font-size: 12px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: #000;
  margin-left: 10px;
}



