<h3>About Us</h3>
<br />
<div id="about">
<p><span class="highlight">LastPlant</span> is a community in which each user can protect and destroy the <span class="highlight">LastPlant</span>. </p><br />

<p>The <span class="highlight">LastPlant</span> project was created as a semester project of students of the Salzburg University of Applied Science.</p><br />

<p>The Webpage was made by <span class="highlight">Andre Schweighofer</span> & <span class="highlight">Daniel Blaichinger</span>.</p>

<p>The Game was made by <span class="highlight"><a href="http://www.mwebi.multimediatechnology.at"><strong>Michael Webersdorfer</strong></a></span>.</p>


<p>Design and graphics: <span class="highlight">Viktoria Preuer</span>, <span class="highlight">Martina Edelhofer</span> and <span class="highlight">Magdalena Achleitner</span></p>
</div>
   

