   <div id="imprint">
      <h2 class="highlight">Developers</h2>
      <ul class="center_me">
        <li><span class="highlight">Michael Webersdorfer</span> (Game): mwebersdorfer[ät]hotmail.com</li>
        <li><span class="highlight">Andre Schweighofer</span> (Web): andre.schweighofer[ät]gmail.com</li>
        <li><span class="highlight">Daniel Blaichinger</span> (Web): dblaichinger.mmt-b2009[ät]fh-salzburg.ac.at</li>
      </ul>
      <h2 class="highlight">Designers</h2>
      <ul class="center_me">
        <li><span class="highlight">Martina Edelhofer</span></li>
        <li><span class="highlight">Victoria Preuer</span></li>
        <li><span class="highlight">Magdalena Achleitner</span></li>
      </ul>
      </div>

