  <div id="imprint">
  <h1 class="highlight">Imprint</h1>
  <p class="center_me">LastPlant is a community in which each user can protect and destroy the LastPlant.<br>

The LastPlant project was created as a semester project of students of the Salzburg University of Applied Science.
  </p>
  <h2 class="highlight">Developers</h2>
  <ul class="center_me">
    <li><span class="highlight"><a href="http://www.mwebi.multimediatechnology.at"><strong>Michael Webersdorfer</strong></a></span> (Game): mwebersdorfer[ät]hotmail.com</li>
    <li><span class="highlight">Andre Schweighofer</span> (Web): andre.schweighofer[ät]gmail.com</li>
    <li><span class="highlight">Daniel Blaichinger</span> (Web): dblaichinger.mmt-b2009[ät]fh-salzburg.ac.at</li>
  </ul>
  <h2 class="highlight">Designers</h2>
  <ul class="center_me">
    <li><span class="highlight">Martina Edelhofer</span></li>
    <li><span class="highlight">Victoria Preuer</span></li>
    <li><span class="highlight">Magdalena Achleitner</span></li>
  </ul>
</div>

